In [26]:
list1=["akula","dileep","kumar"]
enumerate_obj=enumerate(list1)
print(enumerate_obj)
print(list(enumerate_obj))

<enumerate object at 0x000001292EEAE0C0>
[(0, 'akula'), (1, 'dileep'), (2, 'kumar')]

In [27]:
list1=["akula","dileep","kumar"]
enumerate_obj=enumerate(list1,15)
#getting the enumerate object of the alphabetics
print(enumerate_obj)
print(list(enumerate_obj))

<enumerate object at 0x000001292F0096C0>
[(15, 'akula'), (16, 'dileep'), (17, 'kumar')]

In [28]:
list1=["akula","dileep","kumar"]
for count,list1 in enumerate(list1,start=1):
    print(count,list1)

1 akula
2 dileep
3 kumar